body{
    background: black;
}
/* 
.jumbotron{

    background-image: url("images/coding.png");
    background-size: cover;
    align-content: center;
    max-height: 450px;

} */
.jumbotron {
    background-image: url(coding.png);
    background-size: cover;
    color: white;
    align-content: center;
    max-height: 450px;
}
.card-img-top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: auto;
    margin-bottom: 20px;
    

}
.container{
    margin-top: 150px;
    color: white;
    line-height: 2rem;
    font-size: 17px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}
html {
    scroll-behavior: smooth;
  }
h1{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
  
  #section1 {
    height: 600px;
    background-color: pink;
  }
  
  #section2 {
    height: 600px;
    background-color: black;
  }

  /* annimation */
  .line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
  .anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }
